

.cenas{
    
    display: block;
    h2{
        text-align: center;
        margin-top: 50px;
    }

    &__container{
        padding:  5.6vw;
        padding-top: 5px;
        max-width: 900px;
        width: 100%;
        display: block;
        margin: 0 auto;

        img{
            width: 100%;
        }

        @media (max-width: 768px){
            max-width: 400px;

        }

        @media (min-width: 769px) and (max-width: 1023px){
            max-width: 700px;

        }
    }


}